In [36]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from copy import deepcopy

In [56]:
titanic = pd.read_csv('titanic/combi3.csv')

In [57]:
print(titanic.head())

  PassengerId  Pclass   LastName                                         Name  \
0           1     3.0     Braund                              Mr. Owen Harris
1           2     1.0    Cumings   Mrs. John Bradley (Florence Briggs Thayer)
2           3     3.0  Heikkinen                                  Miss. Laina
3           4     1.0   Futrelle           Mrs. Jacques Heath (Lily May Peel)
4           5     3.0      Allen                            Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket       Fare Cabin Embarked  \
0    male  22.0    1.0    0.0         A/5 21171       7.25   NaN        S
1  female  38.0    1.0    0.0          PC 17599  712833.00   C85        C
2  female  26.0    0.0    0.0  STON/O2. 3101282    7925.00   NaN        S
3  female  35.0    1.0    0.0            113803      53.10  C123        S
4    male  35.0    0.0    0.0            373450       8.05   NaN        S

  Dataset  Survived  LeegPp CabinD CabinEO
0   train       0.0     1.0      U       u
1   train       1.0     0.0      C       o
2   train       1.0     1.0      U       u
3   train       1.0     0.0      C       o
4   train       0.0     1.0      U       u

In [58]:
def categorize_company(df):
    
    # 0 if alone, 1 if only with siblings/spouse, 2 if only with parent/children, 3 if with both (number of people is disregarded)
    conditions = [(df.Parch + df.SibSp == 0), (df.Parch == 0) & (df.SibSp > 0), (df.Parch > 0) & (df.SibSp ==0),
                  (df.Parch > 0) & (df.SibSp > 0)]
    categories = [0, 1, 2, 3]
    
    # create company attribute
    df["Company"] = np.select(conditions, categories)
    
    # count companions
    df["Companions"] = df.SibSp + df.Parch
    
    # create alone attribute (1 if alone, 0 if not)
    df["Alone"] = np.where(df.Parch + df.SibSp > 0, 0, 1)
        
categorize_company(titanic)

print(titanic.head())

  PassengerId  Pclass   LastName                                         Name  \
0           1     3.0     Braund                              Mr. Owen Harris
1           2     1.0    Cumings   Mrs. John Bradley (Florence Briggs Thayer)
2           3     3.0  Heikkinen                                  Miss. Laina
3           4     1.0   Futrelle           Mrs. Jacques Heath (Lily May Peel)
4           5     3.0      Allen                            Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket       Fare Cabin Embarked  \
0    male  22.0    1.0    0.0         A/5 21171       7.25   NaN        S
1  female  38.0    1.0    0.0          PC 17599  712833.00   C85        C
2  female  26.0    0.0    0.0  STON/O2. 3101282    7925.00   NaN        S
3  female  35.0    1.0    0.0            113803      53.10  C123        S
4    male  35.0    0.0    0.0            373450       8.05   NaN        S

  Dataset  Survived  LeegPp CabinD CabinEO  Company  Companions  Alone
0   train       0.0     1.0      U       u        1         1.0      0
1   train       1.0     0.0      C       o        1         1.0      0
2   train       1.0     1.0      U       u        0         0.0      1
3   train       1.0     0.0      C       o        1         1.0      0
4   train       0.0     1.0      U       u        0         0.0      1

In [59]:
# subtract title from name

def format_name(df):
    
    # take prefix from remainder of name after last name has been split off
    df['NamePrefix'] = df.Name.apply(lambda x: str(x).split('.')[0].strip())
    
    # dictionary of all options to categories
    normalized_titles = {
    "Capt":       "Officer",
    "Col":        "Officer",
    "Major":      "Officer",
    "Jonkheer":   "Royalty",
    "Don":        "Royalty",
    "Sir" :       "Royalty",
    "Dr":         "Officer",
    "Rev":        "Officer",
    "the":        "Royalty",
    "Dona":       "Royalty",
    "Mme":        "Mrs",
    "Mlle":       "Miss",
    "Ms":         "Mrs",
    "Mr" :        "Mr",
    "Mrs" :       "Mrs",
    "Miss" :      "Miss",
    "Master" :    "Master",
    "Lady" :      "Royalty"
    }
    
    # assign title to each passenger
    df["NamePrefix"] = titanic.NamePrefix.map(normalized_titles)
    return df   


format_name(titanic)
# print(titanic.head())
print(titanic["NamePrefix"])

0            Mr
1           Mrs
2          Miss
3           Mrs
4            Mr
5            Mr
6            Mr
7        Master
8           Mrs
9           Mrs
10         Miss
11         Miss
12           Mr
13           Mr
14         Miss
15          Mrs
16       Master
17           Mr
18          Mrs
19          Mrs
20           Mr
21           Mr
22          NaN
23           Mr
24         Miss
25          Mrs
26           Mr
27           Mr
28          NaN
29           Mr
         ...
1279         Mr
1280     Master
1281         Mr
1282        Mrs
1283     Master
1284         Mr
1285         Mr
1286        Mrs
1287         Mr
1288        Mrs
1289         Mr
1290         Mr
1291       Miss
1292         Mr
1293       Miss
1294         Mr
1295         Mr
1296        NaN
1297         Mr
1298         Mr
1299        NaN
1300       Miss
1301       Miss
1302        Mrs
1303       Miss
1304         Mr
1305    Royalty
1306         Mr
1307         Mr
1308     Master
Name: NamePrefix, Length: 1309, dtype: object

In [60]:
# fill in missing ages based on age, title and class
def categorize_age(df):
    
    # get values of sex, class and title
    specAge = titanic.groupby(["Sex", "Pclass", "NamePrefix"])
    
    # determine the median age of each sex-class-title combinations
    specAge.Age.median()
    
    # fill in median age of sex-class-title combination when age data is missing
    titanic.Age = specAge.Age.apply(lambda x: x.fillna(x.median()))
    
    # group dataset in age categories
    bins = (0, 4, 12, 18, 25, 35, 60, 100)
    agename = ["0-4", "4-12", "12-18", "18-25", "25-35", "35-60", "60-100"]
    df["Agegroup"] = pd.cut(df.Age, bins, labels = agename)
    
categorize_age(titanic)
print(titanic.head())

  PassengerId  Pclass   LastName                                         Name  \
0           1     3.0     Braund                              Mr. Owen Harris
1           2     1.0    Cumings   Mrs. John Bradley (Florence Briggs Thayer)
2           3     3.0  Heikkinen                                  Miss. Laina
3           4     1.0   Futrelle           Mrs. Jacques Heath (Lily May Peel)
4           5     3.0      Allen                            Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket       Fare    ...    Dataset  \
0    male  22.0    1.0    0.0         A/5 21171       7.25    ...      train
1  female  38.0    1.0    0.0          PC 17599  712833.00    ...      train
2  female  26.0    0.0    0.0  STON/O2. 3101282    7925.00    ...      train
3  female  35.0    1.0    0.0            113803      53.10    ...      train
4    male  35.0    0.0    0.0            373450       8.05    ...      train

  Survived LeegPp  CabinD  CabinEO Company Companions  Alone  NamePrefix  \
0      0.0    1.0       U        u       1        1.0      0          Mr
1      1.0    0.0       C        o       1        1.0      0         Mrs
2      1.0    1.0       U        u       0        0.0      1        Miss
3      1.0    0.0       C        o       1        1.0      0         Mrs
4      0.0    1.0       U        u       0        0.0      1          Mr

   Agegroup
0     18-25
1     35-60
2     25-35
3     25-35
4     25-35

[5 rows x 22 columns]

In [61]:
# delete unneccesary attributes
def drop_attributes(df):
    return df.drop(['Ticket', 'LastName', 'Name', 'Cabin', 'LeegPp'], axis=1)

newtitanic = drop_attributes(titanic)
print(newtitanic)

                                            PassengerId  Pclass     Sex  \
0                                                     1     3.0    male
1                                                     2     1.0  female
2                                                     3     3.0  female
3                                                     4     1.0  female
4                                                     5     3.0    male
5                                                     6     3.0    male
6                                                     7     1.0    male
7                                                     8     3.0    male
8                                                     9     3.0  female
9                                                    10     2.0  female
10                                                   11     3.0  female
11                                                   12     1.0  female
12                                                   13     3.0    male
13                                                   14     3.0    male
14                                                   15     3.0  female
15                                                   16     2.0  female
16                                                   17     3.0    male
17                                                   18     2.0    male
18                                                   19     3.0  female
19                                                   20     3.0  female
20                                                   21     2.0    male
21                                                   22     2.0    male
22    23,3,McGowan, Miss. Anna "Annie",female,15,0,0...     NaN     NaN
23                                                   24     1.0    male
24                                                   25     3.0  female
25                                                   26     3.0  female
26                                                   27     3.0    male
27                                                   28     1.0    male
28    29,3,O'Dwyer, Miss. Ellen "Nellie",female,,0,0...     NaN     NaN
29                                                   30     3.0    male
...                                                 ...     ...     ...
1279                                               1280     3.0    male
1280                                               1281     3.0    male
1281                                               1282     1.0    male
1282                                               1283     1.0  female
1283                                               1284     3.0    male
1284                                               1285     2.0    male
1285                                               1286     3.0    male
1286                                               1287     1.0  female
1287                                               1288     3.0    male
1288                                               1289     1.0  female
1289                                               1290     3.0    male
1290                                               1291     3.0    male
1291                                               1292     1.0  female
1292                                               1293     2.0    male
1293                                               1294     1.0  female
1294                                               1295     1.0    male
1295                                               1296     1.0    male
1296  1297,2,Nourney, Mr. Alfred (Baron von Drachste...     NaN     NaN
1297                                               1298     2.0    male
1298                                               1299     1.0    male
1299  1300,3,Riordan, Miss. Johanna Hannah"",female,...     NaN     NaN
1300                                               1301     3.0  female
1301                                               1302     3.0  female
1302                                               1303     1.0  female
1303                                               1304     3.0  female
1304                                               1305     3.0    male
1305                                               1306     1.0  female
1306                                               1307     3.0    male
1307                                               1308     3.0    male
1308                                               1309     3.0    male

        Age  SibSp  Parch        Fare Embarked Dataset  Survived CabinD  \
0     22.00    1.0    0.0        7.25        S   train       0.0      U
1     38.00    1.0    0.0   712833.00        C   train       1.0      C
2     26.00    0.0    0.0     7925.00        S   train       1.0      U
3     35.00    1.0    0.0       53.10        S   train       1.0      C
4     35.00    0.0    0.0        8.05        S   train       0.0      U
5     26.00    0.0    0.0    84583.00        Q   train       0.0      U
6     54.00    0.0    0.0   518625.00        S   train       0.0      E
7      2.00    3.0    1.0    21075.00        S   train       0.0      U
8     27.00    0.0    2.0   111333.00        S   train       1.0      U
9     14.00    1.0    0.0   300708.00        C   train       1.0      U
10     4.00    1.0    1.0       16.70        S   train       1.0      G
11    58.00    0.0    0.0       26.55        S   train       1.0      C
12    20.00    0.0    0.0        8.05        S   train       0.0      U
13    39.00    1.0    5.0    31275.00        S   train       0.0      U
14    14.00    0.0    0.0    78542.00        S   train       0.0      U
15    55.00    0.0    0.0       16.00        S   train       1.0      U
16     2.00    4.0    1.0    29125.00        Q   train       0.0      U
17    30.00    0.0    0.0       13.00        S   train       1.0      U
18    31.00    1.0    0.0       18.00        S   train       0.0      U
19    31.00    0.0    0.0     7225.00        C   train       1.0      U
20    35.00    0.0    0.0       26.00        S   train       0.0      U
21    34.00    0.0    0.0       13.00        S   train       1.0      D
22      NaN    NaN    NaN         NaN      NaN     NaN       NaN    NaN
23    28.00    0.0    0.0       35.50        S   train       1.0      A
24     8.00    3.0    1.0    21075.00        S   train       0.0      U
25    38.00    1.0    5.0   313875.00        S   train       1.0      U
26    26.00    0.0    0.0     7225.00        C   train       0.0      U
27    19.00    3.0    2.0      263.00        S   train       0.0      C
28      NaN    NaN    NaN         NaN      NaN     NaN       NaN    NaN
29    26.00    0.0    0.0    78958.00        S   train       0.0      U
...     ...    ...    ...         ...      ...     ...       ...    ...
1279  21.00    0.0    0.0        7.75        Q    test       NaN      U
1280   6.00    3.0    1.0    21075.00        S    test       NaN      U
1281  23.00    0.0    0.0       93.50        S    test       NaN      B
1282  51.00    0.0    1.0       39.40        S    test       NaN      D
1283  13.00    0.0    2.0       20.25        S    test       NaN      U
1284  47.00    0.0    0.0       10.50        S    test       NaN      U
1285  29.00    3.0    1.0    22025.00        S    test       NaN      U
1286  18.00    1.0    0.0       60.00        S    test       NaN      C
1287  24.00    0.0    0.0        7.25        Q    test       NaN      U
1288  48.00    1.0    1.0       79.20        C    test       NaN      B
1289  22.00    0.0    0.0     7775.00        S    test       NaN      U
1290  31.00    0.0    0.0    77333.00        Q    test       NaN      U
1291  30.00    0.0    0.0  1648667.00        S    test       NaN      C
1292  38.00    1.0    0.0       21.00        S    test       NaN      U
1293  22.00    0.0    1.0       59.40        C    test       NaN      U
1294  17.00    0.0    0.0       47.10        S    test       NaN      U
1295  43.00    1.0    0.0   277208.00        C    test       NaN      D
1296    NaN    NaN    NaN         NaN      NaN     NaN       NaN    NaN
1297  23.00    1.0    0.0       10.50        S    test       NaN      U
1298  50.00    1.0    1.0      211.50        C    test       NaN      C
1299    NaN    NaN    NaN         NaN      NaN     NaN       NaN    NaN
1300   3.00    1.0    1.0    13775.00        S    test       NaN      U
1301  18.75    0.0    0.0        7.75        Q    test       NaN      U
1302  37.00    1.0    0.0       90.00        Q    test       NaN      C
1303  28.00    0.0    0.0     7775.00        S    test       NaN      U
1304  26.00    0.0    0.0        8.05        S    test       NaN      U
1305  39.00    0.0    0.0      108.90        C    test       NaN      C
1306  38.50    0.0    0.0        7.25        S    test       NaN      U
1307  26.00    0.0    0.0        8.05        S    test       NaN      U
1308   6.00    1.0    1.0   223583.00        C    test       NaN      U

     CabinEO  Company  Companions  Alone NamePrefix Agegroup
0          u        1         1.0      0         Mr    18-25
1          o        1         1.0      0        Mrs    35-60
2          u        0         0.0      1       Miss    25-35
3          o        1         1.0      0        Mrs    25-35
4          u        0         0.0      1         Mr    25-35
5          u        0         0.0      1         Mr    25-35
6          e        0         0.0      1         Mr    35-60
7          u        3         4.0      0     Master      0-4
8          u        2         2.0      0        Mrs    25-35
9          u        1         1.0      0        Mrs    12-18
10         e        3         2.0      0       Miss      0-4
11         o        0         0.0      1       Miss    35-60
12         u        0         0.0      1         Mr    18-25
13         u        3         6.0      0         Mr    35-60
14         u        0         0.0      1       Miss    12-18
15         u        0         0.0      1        Mrs    35-60
16         u        3         5.0      0     Master      0-4
17         u        0         0.0      1         Mr    25-35
18         u        1         1.0      0        Mrs    25-35
19         u        0         0.0      1        Mrs    25-35
20         u        0         0.0      1         Mr    25-35
21         e        0         0.0      1         Mr    25-35
22       NaN        0         NaN      1        NaN      NaN
23         e        0         0.0      1         Mr    25-35
24         u        3         4.0      0       Miss     4-12
25         u        3         6.0      0        Mrs    35-60
26         u        0         0.0      1         Mr    25-35
27         o        3         5.0      0         Mr    18-25
28       NaN        0         NaN      1        NaN      NaN
29         u        0         0.0      1         Mr    25-35
...      ...      ...         ...    ...        ...      ...
1279       u        0         0.0      1         Mr    18-25
1280       u        3         4.0      0     Master     4-12
1281       e        0         0.0      1         Mr    18-25
1282       e        2         1.0      0        Mrs    35-60
1283       u        2         2.0      0     Master    12-18
1284       u        0         0.0      1         Mr    35-60
1285       u        3         4.0      0         Mr    25-35
1286       o        1         1.0      0        Mrs    12-18
1287       u        0         0.0      1         Mr    18-25
1288       o        3         2.0      0        Mrs    35-60
1289       u        0         0.0      1         Mr    18-25
1290       u        0         0.0      1         Mr    25-35
1291       o        0         0.0      1       Miss    25-35
1292       u        1         1.0      0         Mr    35-60
1293       u        2         1.0      0       Miss    18-25
1294       u        0         0.0      1         Mr    12-18
1295       e        1         1.0      0         Mr    35-60
1296     NaN        0         NaN      1        NaN      NaN
1297       u        1         1.0      0         Mr    18-25
1298       e        3         2.0      0         Mr    35-60
1299     NaN        0         NaN      1        NaN      NaN
1300       u        3         2.0      0       Miss      0-4
1301       u        0         0.0      1       Miss    18-25
1302       e        1         1.0      0        Mrs    35-60
1303       u        0         0.0      1       Miss    25-35
1304       u        0         0.0      1         Mr    25-35
1305       o        0         0.0      1    Royalty    35-60
1306       u        0         0.0      1         Mr    35-60
1307       u        0         0.0      1         Mr    25-35
1308       u        3         2.0      0     Master     4-12

[1309 rows x 17 columns]

In [62]:
def split_sets(df):
    # select training part of dataset for rule making
    trainset = df.loc[df['Dataset'] == 'train']

    # select test part of dataset for later
    testset = df.loc[df['Dataset'] == 'test']
    
    return trainset, testset

newtrain, newtest = split_sets(newtitanic)[0], split_sets(newtitanic)[1]

print(newtrain)
# print(newtest)

    PassengerId  Pclass     Sex   Age  SibSp  Parch        Fare Embarked  \
0             1     3.0    male  22.0    1.0    0.0        7.25        S
1             2     1.0  female  38.0    1.0    0.0   712833.00        C
2             3     3.0  female  26.0    0.0    0.0     7925.00        S
3             4     1.0  female  35.0    1.0    0.0       53.10        S
4             5     3.0    male  35.0    0.0    0.0        8.05        S
5             6     3.0    male  26.0    0.0    0.0    84583.00        Q
6             7     1.0    male  54.0    0.0    0.0   518625.00        S
7             8     3.0    male   2.0    3.0    1.0    21075.00        S
8             9     3.0  female  27.0    0.0    2.0   111333.00        S
9            10     2.0  female  14.0    1.0    0.0   300708.00        C
10           11     3.0  female   4.0    1.0    1.0       16.70        S
11           12     1.0  female  58.0    0.0    0.0       26.55        S
12           13     3.0    male  20.0    0.0    0.0        8.05        S
13           14     3.0    male  39.0    1.0    5.0    31275.00        S
14           15     3.0  female  14.0    0.0    0.0    78542.00        S
15           16     2.0  female  55.0    0.0    0.0       16.00        S
16           17     3.0    male   2.0    4.0    1.0    29125.00        Q
17           18     2.0    male  30.0    0.0    0.0       13.00        S
18           19     3.0  female  31.0    1.0    0.0       18.00        S
19           20     3.0  female  31.0    0.0    0.0     7225.00        C
20           21     2.0    male  35.0    0.0    0.0       26.00        S
21           22     2.0    male  34.0    0.0    0.0       13.00        S
23           24     1.0    male  28.0    0.0    0.0       35.50        S
24           25     3.0  female   8.0    3.0    1.0    21075.00        S
25           26     3.0  female  38.0    1.0    5.0   313875.00        S
26           27     3.0    male  26.0    0.0    0.0     7225.00        C
27           28     1.0    male  19.0    3.0    2.0      263.00        S
29           30     3.0    male  26.0    0.0    0.0    78958.00        S
30           31     1.0    male  40.0    0.0    0.0   277208.00        C
31           32     1.0  female  45.0    1.0    0.0  1465208.00        C
..          ...     ...     ...   ...    ...    ...         ...      ...
858         859     3.0  female  24.0    0.0    3.0   192583.00        C
859         860     3.0    male  26.0    0.0    0.0    72292.00        C
860         861     3.0    male  41.0    2.0    0.0   141083.00        S
861         862     2.0    male  21.0    1.0    0.0       11.50        S
862         863     1.0  female  48.0    0.0    0.0   259292.00        S
864         865     2.0    male  24.0    0.0    0.0       13.00        S
865         866     2.0  female  42.0    0.0    0.0       13.00        S
866         867     2.0  female  27.0    1.0    0.0   138583.00        C
867         868     1.0    male  31.0    0.0    0.0   504958.00        S
868         869     3.0    male  26.0    0.0    0.0        9.50        S
869         870     3.0    male   4.0    1.0    1.0   111333.00        S
870         871     3.0    male  26.0    0.0    0.0    78958.00        S
871         872     1.0  female  47.0    1.0    1.0   525542.00        S
872         873     1.0    male  33.0    0.0    0.0        5.00        S
873         874     3.0    male  47.0    0.0    0.0        9.00        S
874         875     2.0  female  28.0    1.0    0.0       24.00        C
876         877     3.0    male  20.0    0.0    0.0    98458.00        S
877         878     3.0    male  19.0    0.0    0.0    78958.00        S
878         879     3.0    male  26.0    0.0    0.0    78958.00        S
879         880     1.0  female  56.0    0.0    1.0   831583.00        C
880         881     2.0  female  25.0    0.0    1.0       26.00        S
881         882     3.0    male  33.0    0.0    0.0    78958.00        S
882         883     3.0  female  22.0    0.0    0.0   105167.00        S
883         884     2.0    male  28.0    0.0    0.0       10.50        S
884         885     3.0    male  25.0    0.0    0.0        7.05        S
885         886     3.0  female  39.0    0.0    5.0    29125.00        Q
886         887     2.0    male  27.0    0.0    0.0       13.00        S
887         888     1.0  female  19.0    0.0    0.0       30.00        S
889         890     1.0    male  26.0    0.0    0.0       30.00        C
890         891     3.0    male  32.0    0.0    0.0        7.75        Q

    Dataset  Survived CabinD CabinEO  Company  Companions  Alone NamePrefix  \
0     train       0.0      U       u        1         1.0      0         Mr
1     train       1.0      C       o        1         1.0      0        Mrs
2     train       1.0      U       u        0         0.0      1       Miss
3     train       1.0      C       o        1         1.0      0        Mrs
4     train       0.0      U       u        0         0.0      1         Mr
5     train       0.0      U       u        0         0.0      1         Mr
6     train       0.0      E       e        0         0.0      1         Mr
7     train       0.0      U       u        3         4.0      0     Master
8     train       1.0      U       u        2         2.0      0        Mrs
9     train       1.0      U       u        1         1.0      0        Mrs
10    train       1.0      G       e        3         2.0      0       Miss
11    train       1.0      C       o        0         0.0      1       Miss
12    train       0.0      U       u        0         0.0      1         Mr
13    train       0.0      U       u        3         6.0      0         Mr
14    train       0.0      U       u        0         0.0      1       Miss
15    train       1.0      U       u        0         0.0      1        Mrs
16    train       0.0      U       u        3         5.0      0     Master
17    train       1.0      U       u        0         0.0      1         Mr
18    train       0.0      U       u        1         1.0      0        Mrs
19    train       1.0      U       u        0         0.0      1        Mrs
20    train       0.0      U       u        0         0.0      1         Mr
21    train       1.0      D       e        0         0.0      1         Mr
23    train       1.0      A       e        0         0.0      1         Mr
24    train       0.0      U       u        3         4.0      0       Miss
25    train       1.0      U       u        3         6.0      0        Mrs
26    train       0.0      U       u        0         0.0      1         Mr
27    train       0.0      C       o        3         5.0      0         Mr
29    train       0.0      U       u        0         0.0      1         Mr
30    train       0.0      U       u        0         0.0      1    Royalty
31    train       1.0      B       e        1         1.0      0        Mrs
..      ...       ...    ...     ...      ...         ...    ...        ...
858   train       1.0      U       u        2         3.0      0        Mrs
859   train       0.0      U       u        0         0.0      1         Mr
860   train       0.0      U       u        1         2.0      0         Mr
861   train       0.0      U       u        1         1.0      0         Mr
862   train       1.0      D       o        0         0.0      1        Mrs
864   train       0.0      U       u        0         0.0      1         Mr
865   train       1.0      U       u        0         0.0      1        Mrs
866   train       1.0      U       u        1         1.0      0       Miss
867   train       0.0      A       e        0         0.0      1         Mr
868   train       0.0      U       u        0         0.0      1         Mr
869   train       1.0      U       u        3         2.0      0     Master
870   train       0.0      U       u        0         0.0      1         Mr
871   train       1.0      D       o        3         2.0      0        Mrs
872   train       0.0      B       o        0         0.0      1         Mr
873   train       0.0      U       u        0         0.0      1         Mr
874   train       1.0      U       u        1         1.0      0        Mrs
876   train       0.0      U       u        0         0.0      1         Mr
877   train       0.0      U       u        0         0.0      1         Mr
878   train       0.0      U       u        0         0.0      1         Mr
879   train       1.0      C       e        2         1.0      0        Mrs
880   train       1.0      U       u        2         1.0      0        Mrs
881   train       0.0      U       u        0         0.0      1         Mr
882   train       0.0      U       u        0         0.0      1       Miss
883   train       0.0      U       u        0         0.0      1         Mr
884   train       0.0      U       u        0         0.0      1         Mr
885   train       0.0      U       u        2         5.0      0        Mrs
886   train       0.0      U       u        0         0.0      1    Officer
887   train       1.0      B       e        0         0.0      1       Miss
889   train       1.0      C       e        0         0.0      1         Mr
890   train       0.0      U       u        0         0.0      1         Mr

    Agegroup
0      18-25
1      35-60
2      25-35
3      25-35
4      25-35
5      25-35
6      35-60
7        0-4
8      25-35
9      12-18
10       0-4
11     35-60
12     18-25
13     35-60
14     12-18
15     35-60
16       0-4
17     25-35
18     25-35
19     25-35
20     25-35
21     25-35
23     25-35
24      4-12
25     35-60
26     25-35
27     18-25
29     25-35
30     35-60
31     35-60
..       ...
858    18-25
859    25-35
860    35-60
861    18-25
862    35-60
864    18-25
865    35-60
866    25-35
867    25-35
868    25-35
869      0-4
870    25-35
871    35-60
872    25-35
873    35-60
874    25-35
876    18-25
877    18-25
878    25-35
879    35-60
880    18-25
881    25-35
882    18-25
883    25-35
884    18-25
885    35-60
886    25-35
887    18-25
889    25-35
890    25-35

[838 rows x 17 columns]

In [63]:
# # save new files
# def save_train(df):
#     df.to_csv('titanic/newtrain.csv')
# def save_test(df):
#     df.to_csv('titanic/newtest.csv')
    
# save_train(newtrain)
# save_test(newtest)